<style type="text/css">
  nav{
    position: fixed;
    width: 100%;
    background:  rgba(246, 30, 192, 0.04);
    z-index: 10;
  }
  #Respeta{
    margin: auto;
    padding-bottom: 80px;
  }
</style>
<div>
  <div id="Respeta">
  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/list" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Cats
      </a>
      <a routerLink='login' class="nav-item nav-link" routerLinkActive="active-link" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Login
      </a>
      <a routerLink="/usuario/new" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-user-plus"></i> Register
      </a>
      <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <!--<i class="fa fa-user"></i> Account ({{auth.currentUser.username}})-->
      </a>
      <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
        <i class="fa fa-lock"></i> Admin
      </a>
      <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </div>
  </nav>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

  <app-footer></app-footer>
</div>




